# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Environments
venv/
env/
ENV/
.Python

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
.installed.cfg

# Django
*.log
*.pot
*.pyc
db.sqlite3
/media
/staticfiles
/local_settings.py

# VS Code
.vscode/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pyenv
.python-version

# mypy
.mypy_cache/

# JetBrains IDEs
.idea/

# OS files
.DS_Store
Thumbs.db

# Secret files
.env

# Node/npm
node_modules/

# Temp
*.tmp

# Keep local static and media directories out
static/
media/
